@import 'auto_buttom';
@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS');
@import url('https://db.onlinewebfonts.com/c/1284fed5b849cf2914ad995665825e2f?family=Marker+Felt');
@import url('https://db.onlinewebfonts.com/c/54b2a3b34aabaa9a318018c8673e707e?family=Blippo');
//cooperblack
$font :'Marker Felt' !important;
$font1 :'Comic Sans MS' !important;
$font2 :'Blippo' !important;
$size_font : 510!important;

body{
  background-image: url("../asset/bg.png");
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}
.selection{
  padding: 2px;
}
.run{
    background-color:rgb(180, 240, 180);
    box-shadow: 0px 0px 12px black;
    
  }
.standby{
  background-color:rgb(194, 223, 223);
  box-shadow: 0px 0px 12px black;
}
.loss{
  background-color:rgb(255, 63, 63);
  box-shadow: 0px 0px 12px black;
}
  // .title{
  //   // text-align: center;
  // }
  .page{
    margin: auto;
  width: 50%;
  // border: 3px solid rgb(152, 183, 248);
  padding: 10px;
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
  }

#draw{
  .draw{
    margin-left: 10%;
  }
  // background-color:slateblue!important;
  // padding: 3em 3em;
  // background-image: url("../asset/bg.png");
  // background-size: 100%;
  // background-repeat: no-repeat, repeat;
  // height: 480px;
  // border: 2px solid black;
  // border-radius: 5px;
  // box-shadow: 0px 0px 9px grey;
}
#set{
  .card{
    // background-color:  rgb(240, 241, 145);
  }
  input{
    max-width: 100%;
  }
  .input-group-text{
    width: 60px;
  }
  // .body{
  //   border: 1px solid rgb(236, 240, 240);
  //   padding: 10px 4em;
  //   border-radius: 5%;
  // }
  box-shadow: 0px 0px 9px grey;
  // border: 2px solid black;
  border-radius: 9px;
  margin: 0px !important;
  font-family: $font;
  // background-color: rgb(236, 238, 148);
}


img {
  width: 80%;
}
h1{
  font-family: $font;
  font-weight: $size_font;
}
h2{
  text-align: center;
  padding: 10px 10px;
  // background-color: #b4d5ea;
  border-radius: 5%;

  font-family: $font;
  font-weight: $size_font;
}
.tab-font{
  font-family: $font1;
  text-align:center;
}

// .name{
  // padding: 1em 1em;
  // background-color: blue;
  
// }